@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/grunge-bg.png");
  /* background-size: 100% auto; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* padding-left: 30px 10; */
  background-color: rgba(45, 45, 44, 0.6);
}

#imgLogo {
  cursor: pointer;
  margin: 10px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: gray;
}

button {
  padding: 9px 25px;
  background: rgba(79,150,212, 80%);
  border-radius: 20px;
  border-width: 0px;
  cursor: pointer;
}

.cta {
  margin-right: 20px;
}

button: hover {
  background-color: gray;
  transition: all 0.3s ease 0s;
}

h2{
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

h3{
  font-size: 1.5vh;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.box{
  height: 5%;
  background: none;
  margin: 3%;
}

.intro-phrase{
  text-align: center;
  padding-top: 10%;
}

.intro{
  top: 10%;
  text-align: center;
  margin-top: 3%;
}

.intro-play{
text-align: center;
margin-top: 2%;
}

#canvas-container {
  position: absolute;
  position: block;
  transform: scaleX(0.60) scaleY(0.60);
  left: calc(50% - 1200px);
top: calc(50% - 770px);
z-index: 1;
}

/*page 3 canvas*/
#canvas-container-game {
  position: absolute;
  position: block;
  /* transform: scaleX(0.60) scaleY(0.60); */
  left: calc(50% - 750px);
top: calc(50% - 500px);
z-index: 1;
}

/* manga pages */
.instruction{
  text-align: center;
  margin: 2.5%;
}

/* footer */
#footer{
  position: absolute;
  top: 96%;
  left: 44%;
}
